body {
  background: red;
  font-family: 'Barlow Semi Condensed', sans-serif; }

.header {
  background-color: white;
  background: url("../assets/photograph-cover.jpg") no-repeat center top fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-right: none;
  border-left: none; }

.jumbotron {
  background: transparent !important; }
